# SPDX-FileCopyrightText: 2023 Henrik Sandklef
#
# SPDX-License-Identifier: GPL-3.0-or-later

include README.md
include DESCRIPTION.md
include LICENSE
include requirements.txt
include requirements-dev.txt
